<% if usuario_signed_in? %>
  Hola, acabas de iniciar sesion
  <li>
  <%= link_to('Logout', destroy_usuario_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_usuario_session_path)  %>
  </li>
<% end %>
