.header {
  background-color: #F8F8FF;
  margin: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 40px;
  border-radius: .15em;
  color: #333333;
}

.cuerpo {
  padding-top: 5%;
}

.mensaje {
  font-size: 150%;
}

#groups-btn {
  width: 33%; 
  margin-bottom: 5%

}

#users-btn {
  width: 33%;
  margin-bottom: 5%
}

a:visited {
    color: white;
}

a:link {
    color: white;
}