.header {
  background-color: #fefef9;
  margin: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 40px;
  border-radius: .15em;
  color: #333333;
  position: fixed;
  height: 100%;
}

.cuerpo {
  padding-top: 5%;
}

.mensaje {
  font-size: 150%;
}

#groups-btn {
  width: 33%;
  margin-bottom: 5%;
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
}

#users-btn {
  width: 33%;
  margin-bottom: 5%;
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
}
