body {
  background-color: #EEFFFF;
}

button.btn.btn-primary.btn-lg {
  width: 150px;
}

.header {
  background-color: #75AAFE;
  margin: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 40px;
  border-radius: .15em;
  border: 1.8px solid #5499ED;
  color: #333333;
}

.cuerpo {
  padding-top: 5%;
}

.mensaje {
  font-size: 150%;
}
