#users-index-section{
  #users-new-btn {
  	a:hover, a:visited, a:link, a:active{ color: #FFF; }
    float: left;
  }
  tr { text-align: left; }  
}

.center {
	text-align: center;
}

.logo-header {
	width: 200px;
	margin-top: 25px;
}

.changeRol {
	width: 30%;
  	min-width: 300px;
  	margin-top: 3%;
}