// INDEX
#users-index-section{
  #users-new-btn {
  	a:hover, a:visited, a:link, a:active{ color: #FFF; }
    float: left;
  }
  tr { text-align: left; }  
}

// EDIT
#users-edit-section{
  .change-role {
    width: 30%;
    min-width: 300px;
    margin-top: 3%;
  }
}