<h4> Hola  <%= @user.name %> <%= @user.last_name%> :), </h4>

<p>Bienvenido al sistema de inscripciones del Laboratorio de Física!</p>

<p>Puedes confirmar tu cuenta presionando al link que se encuentra abajo:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
