<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado el cambio de tu contraseña. La liga viene a continuacion: </p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no solicitaste este cambio, por favor ignora este mensaje.</p>
<p>Tu contraseña no va a ser cambiada a menos que lo cambies en la liga de arriba.</p>
